*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    
}   
body{

    color: #000;
    font-family: 'Roboto', sans-serif;
    
}
    
.contenedor{
    width: 100%;
    max-width: 2000px; /*ancho máximo de la página*/
    margin: 0px 0px 0px 0px; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 00px; /*nos ahorramos tener que poner márgenes entre los elementos*/


    grid-template-columns: 15% 15% auto 15% 15%;


    /*4 filas: header, contenido, widgets, footer*/
    /* grid-template-rows: repeat(5, auto); */
    grid-template-rows: auto auto 5fr 1% 1% auto 10%;

    grid-template-areas: "logo logo logo logo logo"
                         "linea linea linea linea linea"
                         "encabezado encabezado encabezado encabezado encabezado"                     
                         "libre libre libre libre libre"
                         "libre libre libre libre libre" 
                         "libre2 exim3 contenido exim exim"
                         "pie pie pie pie pie";
}



.contenedor > div,
.contenedor .logo,
.contenedor .linea,
.contenedor .encabezado,
.contenedor .libre,
.contenedor .libre2,
.contenedor .contenido,
.contenedor .pie {
    padding: 20px;
    border-radius: 4px;
}

.contenedor .logo{
    
    align-items: center ;
    background: #fff ;
    color: #fff;
    grid-area: logo; 
    justify-content:right;
    
    
}

.contenedor .linea{
    background: #e90505 ;
    color: #fff;
    grid-area: linea; 
        
    
}
.contenedor .libre{
    grid-area: libre; 
}

.contenedor .libre2{
    grid-area: libre2; 
}
.contenedor .encabezado{
    /* background:  #fff   ; */
    color: #fff;
    grid-area: encabezado; 
}

.contenedor .contenido{
    /* background: #fff; */
    font-size:large;
    grid-area: contenido; 
    align-items: center;

}

@media screen and (max-width: 1307px){
    
            
    .contenedor{
        margin: 0px;
        max-height: 50px;
        grid-template-columns: auto auto auto;        
        grid-template-rows: auto auto auto 10% 10% auto 10%;
        grid-template-areas: "logo logo logo"
                         "linea linea linea"
                         "encabezado encabezado encabezado"                     
                         "libre libre libre libre libre"
                         "libre libre libre libre libre" 
                         "contenido contenido contenido"
                         "pie pie pie pie pie";

                         .texto01{
                            
                            font-size: 280%;
                            color: white;
                        }
                            
                         .texto02{
                            
                            font-size: 160%;
                            color:white;   
                        }    
                                                         
    }
   
    
}



@media screen and (max-width: 569px){

    
    .contenedor{
        
        margin: 0px;
        grid-template-rows: auto auto auto 10% 10% 50% 10%;              
        grid-template-columns: 100%;              
        max-height: 50px;
        grid-template-areas: "logo"                             
                             "linea"
                             "encabezado"
                             "libre"
                             "libre"
                             "contenido"                             
                             "pie";

                             .texto01{
                            
                                font-size: 190%;
                                color:white;
                            }
                                
                             .texto02{
                                
                                font-size: 100%;
                                color:white;   
                            }    
    }
    
}

#fondo{
    
    min-height: 100vh;
    background: url(../img/globos03.jpg) fixed ;
    background-size: cover;
    
}

#logomaq{
       
    
    height: 25%;
    width: 25%;
    min-height: 5vh;
    background-size: cover;
    align-items: center;
    
        
    
}


.texto01{
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 350%;
    font-style: oblique;
    font-weight: 900;
    color:white;
    text-shadow: 0px 5px 6px red ,
                 -0px -5px 6px red ;
    
}

.texto02{
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    font-style: oblique;
    font-weight: 800;
    color:white;
    text-shadow: 0px 5px 6px red ,
                 -0px -5px 6px red ;
    
}

