<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/salones.css">
    <title>Salones</title>
</head>


<body id="fondo">

   
      
    <img src="../static/img/eventosLF.png" id="logomaq">
      
    
    
    <header class="linea">    </header>

    <nav>

        <ul class="encabezado">
          
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="../index.html"> Home </a></li>
            <li class="nav-item"><a class="nav-link" href="./salones.html"> Nuestros salones </a></li>
            <li class="nav-item"><a class="nav-link" href="./afiesta.html"> Agregá a tu fiesta </a></li>
            <li class="nav-item"><a class="nav-link" href="./galeria.html"> Galería </a></li>
            <li class="nav-item"><a class="nav-link text-success" href="./contacto.html"> Contactanos </a></li>
            
    </nav>

     
    

  
    
</body>
</html>